<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <title>Honda Login</title>
    <style>
      body{
        background-image: radial-gradient(#3E3E3E, #151515);
        font-family: 'Roboto';
        color: #FFFFFF;
        font-size: 12px;
        box-shadow: transparent;
      }
      .btn{
        background-color: #CC0000;
      }
    </style>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="card text-center" style="background-color: transparent; margin-top: 50px; border: 0px;">
            <div class="card-body">
              <img src="http://localhost:3000/honda-connect.png" class="img-fluid" style="width: 60%;">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">            
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="card text-center" style="background-color:transparent; border: 0px;">
            <div
              class="card-body"
              style="background-color: transparent;"
            >
              <% if(otpSent == false){ %>
              <form method="POST" action="/honda/primary">
                <p style="font-size: 16px;">Enter your mobile number</p>
                <p style="color: #B1B1B1;">A 4-digit OTP will be sent on SMS</p><input
                  type="number"
                  name="primaryMobileNo"
                  placeholder="Mobile Number"
                  maxlength="10"
                  required
                  class="form-control"
                />&nbsp;
                <input type="hidden" name="clientId" value="<%= clientId %>" />
                <input type="hidden" name="scope" value="<%= scope %>" />
                <input
                  type="hidden"
                  name="redirectURI"
                  value="<%= redirectURI %>"
                />
                <input
                  type="hidden"
                  name="responseType"
                  value="<%= responseType %>"
                />
                <input type="hidden" name="state" value="<%= state %>" /><br>
                <input class="btn btn-danger btn-block" type="submit" value="Submit"/>
                <% if(fail == true){ %>
                <p class="alert alert-dark">
                  Provided number <%= number %> is not registered, Please enter
                  the primary number again.
                </p>
                <% } %>
              </form>
              <% } %> <% if(otpSent == true){ %>
              <form method="POST" , action="/honda/verifyOtp">
                <p style="font-size: 16px;">Verify and log in</p>
                <p style="color: #B1B1B1;">
                  Enter the OTP sent to your mobile <%= number %>
                </p>
                <label>Enter OTP</label>&nbsp;
                <input
                  type="number"
                  name="otp"
                  placeholder="OTP"
                  maxlength="4"
                  required
                  class="form-control"
                /><br>
                <input class="btn btn-danger btn-block" type="submit" value="Verify" />
                <input class="btn btn-danger btn-block" style="border:0px; background-color: transparent; color: #B5965E;" type="button" value="Resend OTP" />
                <% if(otpVerified == false){ %>
                <p class="alert alert-dark">
                  OTP not verified!
                </p>
                <%} %>
              </form>

              <% } %> <% if(otpVerified == true){ %>
              <form method="POST" , action="/honda/verifyMpin">
                <p style="font-size: 16px;">OTP verified!</p>
                <label style="color: #B1B1B1;">Enter your mPIN</label>&nbsp;
                <input
                  type="number"
                  name="mpin"
                  placeholder="mPIN"
                  maxlength="4"
                  required
                  class="form-control"
                />
                <br>
                <input class="btn btn-danger btn-block" type="submit" value="Login" />
                <% if(mpinVerified == false){ %>
                <p>Wrong mPIN, Please try again..</p>
                <% }%>
              </form>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
