<html lang="en">
  <head>
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Honda Login</title>
  </head>
  <body style="background-image: linear-gradient(black,rgb(63, 63, 63),rgb(63, 63, 63), black);">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="card text-white" style="background-color: black;">
            <div class="card-body">
              <h2>Honda India Skills</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: white;">            
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="card">
            <div class="card-header" style="background-color: rgb(14, 14, 14);">
              <h3>Getting Started</h3>
            </div>
            <div
              class="card-body"
              style="background-color: black; color: white;"
            >
              <% if(otpSent == false){ %>
              <form method="POST" action="/honda/primary">
                <label>Mobile No. &nbsp; &nbsp;</label
                ><input
                  type="number"
                  name="primaryMobileNo"
                  placeholder="Enter Mobile Number"
                  maxlength="10"
                  required
                  class="form-control"
                />&nbsp;
                <input type="hidden" name="clientId" value="<%= clientId %>" />
                <input type="hidden" name="scope" value="<%= scope %>" />
                <input
                  type="hidden"
                  name="redirectURI"
                  value="<%= redirectURI %>"
                />
                <input
                  type="hidden"
                  name="responseType"
                  value="<%= responseType %>"
                />
                <input type="hidden" name="state" value="<%= state %>" /><br>
                <input class="btn btn-danger btn-md" type="submit" value="Submit" />
                <% if(fail == true){ %>
                <p class="alert alert-dark">
                  Provided number <%= number %> is not registered, Please enter
                  the primary number again...
                </p>
                <% } %>
              </form>
              <% } %> <% if(otpSent == true){ %>
              <form method="POST" , action="/honda/verifyOtp">
                <p>
                  Number verified. Please enter the OTP sent to <%= number %>
                </p>
                <label>OTP</label>&nbsp;
                <input
                  type="number"
                  name="otp"
                  placeholder="Enter OTP"
                  maxlength="4"
                  required
                  class="form-control"
                /><br>
                <input class="btn btn-danger btn-md" type="submit" value="Verify" />
                <% if(otpVerified == false){ %>
                <p class="alert alert-dark">
                  OTP not verified!
                </p>
                <%} %>
              </form>

              <% } %> <% if(otpVerified == true){ %>
              <form method="POST" , action="/honda/verifyMpin">
                <p>OTP verified!</p>
                <label>mPIN</label>&nbsp;
                <input
                  type="password"
                  name="mpin"
                  placeholder="Enter mPIN"
                  maxlength="4"
                  required
                  class="form-control"
                />
                <br>
                <input class="btn btn-danger btn-md" type="submit" value="Login" />
                <% if(mpinVerified == false){ %>
                <p>Wrong mPIN, Please try again..</p>
                <% }%>
              </form>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
